<!-- <!DOCTYPE html> -->
<html>
  <head> 
    <style>
    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>
  </head>
  <body>
      <br><br><br><br><br><br><br><br>
      <center>
        <h1>Please tap your RFID card and collect your medicines.</h1>
        <a href="http://192.168.179.1:5000/" class="button">BACK</a>
      </center>
  </body>
</html>